version: '3.8'

services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: mano_db
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - ./mysql_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    restart: always
    ports:
      - "8080:80"
    environment:
      PMA_HOST: db
      PMA_USER: user
      PMA_PASSWORD: password

# Šitas sugeneruotas Copilot.
# Kadangi reikia db kuri visoms veiktu tai va toks sprendimas
# Turetu tiesiog sukurti kiekvienam asmeniui db
# Pas kiekviena bus db su skirtingais duomenimis
# Kad viskas butu vienoda reikia kažkokio cloud mysql sprendimo (bet manau ir toks tiks, bent jau pradžiai)