body{
    background-color: #b9375d;
    color:#eeeeee;
    padding:0;
    margin:0;
}
header{
    background-color: #d25d5d;
    display: flex;
    margin:0;
    justify-content: space-between;
    padding:20px;
}
nav{
    display:flex;
    justify-content: space-between;
}
footer{
    display:flex;
    align-items: center;
    justify-content: center;
}
main{
    height: 80%;
}
.logo{
    size: 80px;
    justify-content: center;
    align-items: center;
}
.pageLink{
    padding:10px;
}