body{
    background-color: #50688a;
    color:#fff2ef;
    padding:0;
    margin:0;
}
header{
    background-color: #f7a5a5;
    display: flex;
    margin:0;
    justify-content: space-between;
    padding:20px;
    justify-content: center;
}
nav{
    display:flex;
    justify-content: space-between;
}
footer{
    display:flex;
    align-items: center;
    justify-content: center;
}
main{
    height: 80%;
}
.logo{
    size: 60px;
    background-color: aqua;
}
.pageLink{
    padding:10px;
}