body{
    background-color: #50688a;
    color:#fff2ef;
    padding:0;
    margin:0;
}
header{
    background-color: #f7a5a5;
    display: flex;
    margin:0;
    justify-content: space-between;
    padding:20px;
}
nav{
    display:flex;
    justify-content: space-between;
}
footer{
    display:flex;
    align-items: center;
    justify-content: center;
}
main{
    height: 80%;
}
.logo{
    font-size: 30px;
    justify-content: center;
    align-items: center;
}
.pageLink{
    padding:10px;
}
h1{
    align-items: center;
    justify-content: center;
    padding:10px;
}
.newBookStyle{
    display: none;
    position: fixed;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
}
.formContent{
    background: white;
    padding: 20px;
    margin: 15% auto;
    width: 300px;
    border-radius: 6px;
}