body{
    background-color: #50688a;
    color:#fff2ef;
    padding:0px;
}
header{
    background-color: #f7a5a5;
    display: flex;
    margin:0xp;
}
nav{

}
footer{
    display:flex;
    align-items: center;
    justify-content: center;
}
main{

}