body{
    background-color: #50688a;
    color:#fff2ef;
    padding:0;
    margin:0;
}
header{
    background-color: #f7a5a5;
    display: flex;
    margin:0;
    justify-content: space-between;
}
nav{
    display:flex;
    
}
footer{
    display:flex;
    align-items: center;
    justify-content: center;
}
main{
    height: 80%;
}
.logo{
    size: 60px;
}