
/*#region Pagrindiniai */
body{
    background-color: #50688a;
    color:#fff2ef;
    padding:0;
    margin:0;
}
header{
    background-color: #f7a5a5;
    display: flex;
    margin:0;
    justify-content: space-between;
    padding:20px;
}
nav{
    display:flex;
    justify-content: space-between;
}
footer{
    display:flex;
    align-items: center;
    justify-content: center;
}
main{
    height: 80%;
    justify-content: center;
    background-color: #50688a;
    color:#fff2ef;
}
.logo{
    font-size: 30px;
    justify-content: center;
    align-items: center;
}
.pageLink{
    padding:10px;
}
h1{
    align-items: center;
    justify-content: center;
    padding:10px;
    text-align: center;
    font-size: 30px;
    padding-top: 50px;
}
/*#endregion*/

/*#region Formos*/
.formStyle{
    display: none;
    position: fixed;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
    color: #fff2ef;
}
.formContent{
    background: white;
    padding: 20px;
    margin: 15% auto;
    width: 300px;
    border-radius: 6px;
    background-color: #50688a;
}
button{
    width: 250px;
    border: 0px;
    background-color: #ffdbb6;
}
.buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
    margin-bottom:40px;
}
input{
    width: 250px;
}
/*#endregion*/