
/*#region Pagrindiniai */
body{
    background-color: #50688a;
    color:#fff2ef;
    padding:0;
    margin:0;
}
header{
    background-color: #f7a5a5;
    display: flex;
    margin:0;
    justify-content: space-between;
    padding:20px;
}
nav{
    display:flex;
    justify-content: space-between;
}
footer{
    display:flex;
    align-items: center;
    justify-content: center;
}
main{
    height: 80%;
    justify-content: center;
    background-color: #50688a;
    color:#fff2ef;
}
.logo{
    font-size: 30px;
    justify-content: center;
    align-items: center;
}
.pageLink{
    padding:10px;
}
h1{
    align-items: center;
    justify-content: center;
    padding:10px;
    text-align: center;
    font-size: 30px;
    padding-top: 50px;
}
/*#endregion*/
